//- '/users/profile/#{user_id}'
extends layout
block content
    //- head.
    //-   <h2>User's profile edit</h2>
    h2.page-edit-h User's profile edit
    p.page-edit-p Please enter the requirements then press "Update"
        if messages.error
          .alert.alert-danger
             div= messages.error
        if messages.info
          .alert.alert-info
            div= messages.info
        if messages.success
          .alert.alert-success
            div= messages.success
    form(align = 'center', method = 'post', action = '/users/profile/#{user_id}')
        .form-group
        label.page-edit-text Upload Profile Image
        br
        input(name = 'profileImage', type = 'file')
        label.page-edit-text Instrument
        br
        input(name = 'instrument', style='width: 350px;', type = 'text', placeholder = 'Please enter the instrument you are playing')
        br
        .form-group
        label.page-edit-text Exprience
        br
        input(name = 'exprience', style='width: 350px;', type = 'text', placeholder = 'Please enter the number years you have with the instrument')
        br
        .form-group
        label.page-edit-text Biography
        br
        textarea(name = 'biography', style='width: 350px; height: 250px;', type = 'text', placeholder = 'Please enter your biography')
        br
        input.btn(type = 'submit', name = 'op', value = 'Update',
        style='margin-top: 20px; #21ABB2;')
        input.btn(type = 'submit', name = 'op', value = 'Cancel Edit', style='margin-left: 10px; margin-top: 20px; #21ABB2;')
        