link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css', rel='stylesheet')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
script(src='//code.jquery.com/jquery-1.11.1.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js')
link(href='/stylesheets/profileCardStyle.css', ,='', rel='stylesheet')
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
script(src='/javascripts/ejs.js')
.cardContainer
  .row
    ul#accordion.accordion
      li
        .col.col_4.iamgurdeep-pic
          img.img-responsive.userImg(alt='userImg......', src='#{user.avatar}', 
          style='width:300px; height: 300px')
          .edit-pic
            a.fa.fa-facebook(href='#')
            a.fa.fa-instagram(href='#')
            a.fa.fa-twitter(href='#')
          .username
            h2 #{user.name}
            a.fa.fa-map-marker
            a.faEdit.fa-edit.editCard(href='/profile/#{user._id}/edit')
            a.btn(type = 'submit', name = 'profileImg', value = 'Edit Profile Picture',
            href = '/profile/#{user._id}/avatar_edit')
      li
        .profileInfo
          .profileUserName Username: #{user.username}
          .profileAddress Address: {user.address}
          .profileEmail Email: #{user.email}
          .profilePhone Phone: {user.phone}
          .profileInstrument Instrument: #{user.instrument}
          .profileBio Biography: #{user.bio}
// tab panel part
.tabPanel
  input#tab1(type='radio', name='tabs', checked='')
  label(for='tab1') content1
  input#tab2(type='radio', name='tabs')
  label(for='tab2') content2
  input#tab3(type='radio', name='tabs')
  label(for='tab3') content3
  input#tab4(type='radio', name='tabs')
  label(for='tab4') content4
  section#content1
    p
      | google sing in image check
      br
      //- body(ng-app='app', ng-controller='ctrl')
      //-   img(src='/images/googleImg.png', ng-click='login()', name = 'googleUrl', value = 'getUrl', style="width: 300px; height: 100px") 
      button.googleBtn(onclick="window.open('#{authUrl}');")
      //- button.googleBtn(href="#{authUrl}")

  section#content2
    p
      | Content2
    div.viedosUpload
      .col-xl-4.col-md-6
        .example-wrap
          h4.example-title Your so fresh input file — Default version
          .example
            input#input-file-now(type='file', data-plugin='dropify', data-default-file='')
  // End Example Default

  section#content3
    include calendar.html
  section#content4
    p
      | Content4
