extends layout

block content
  h1.page-header.page-profile-text Profile page
  p.page-profile-text #{user.username}'s profile page
      if messages.error
        .alert.alert-danger
          div= messages.error
      if messages.info
        .alert.alert-infos
          div= messages.info
      if messages.success
        .alert.alert-success
          div= messages.success
  .card(style='width: 20rem;')
  .card-header.page-profile-text
    | #{user.username}'s information
  ul.list-group.list-group-flush
    li.list-group-item(style = 'background-color: #DEF3FE;') Name of the user: #{user.name}
    li.list-group-item(style = 'background-color: #D3ECF8;') #{user.name}'s email: #{user.email}
    li.list-group-item(style = 'background-color: #C5E2F1;') Instrument: #{user.instrument}
    li.list-group-item(style = 'background-color: #9CD1EC;') Exprience: #{user.exprience} years
    li.list-group-item(style = 'background-color: #8DC6E3;') Biography: #{user.bio}
  a.btn.btn-link(href='/users/profile/#{user._id}/edit', style='margin-top: 20px;') Edit Profile
  a.btn.btn-link(href='/users/profile/#{user._id}/event', style='margin-top: 20px;') Event
                     

  //- p Name of the user: #{user.name}
  //- p #{user.name}'s email: #{user.email}
  //- p Username: #{user.username}
  //- if(user.instrument == "empty")
  //-   p Instrument: #{user.name} has not select a instrument 
  //- else
  //-   p Instrument: #{user.instrument}
  //- if(user.exprience == "empty")
  //-   p Exprience: #{user.name}'s exprience is emtpy
  //- else
  //-   p Exprience: #{user.exprience} years
  //- if(user.bio == "undefined")
  //-   p Biography: #{user.name}'s biography is empty
  //- else
  //-   p Biography: #{user.bio}
  //- a.btn.btn-link(href='/users/profile/#{user._id}/edit', style='margin-top: 20px;') Edit Profile
  //- a.btn.btn-link(href='/users/profile/#{user._id}/event', style='margin-top: 20px;') Event